version: "3.9"

services:
  db:
    image: postgres:15
    container_name: resume_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: resume_db
    ports:
      - "5432:5432"

  ollama:
    image: ollama/ollama
    container_name: ollama
    restart: always
    ports:
      - "11434:11434"
    volumes:
      - ollama_data:/root/.ollama

  api:
    build: .
    container_name: resume_api
    restart: always
    depends_on:
      - db
      - ollama
    ports:
      - "8000:8000"
    environment:
      DATABASE_URL: postgresql+psycopg2://postgres:postgres@db:5432/resume_db
      MODEL: gemma3:12b

volumes:
  ollama_data:
